<div class="card">
    <div class="card-header">
        <strong class="card-title">Patients Details</strong>
    </div>
    <div class="card-body">
        <div>
            <b>First Name :</b> {{patientdetail.firstname}}
        </div>
        <div>
            <b>Last Name :</b> {{patientdetail.lastname}}
        </div>
        <div>
            <b>Preferred Name :</b> {{patientdetail.preferredname}}
        </div>
        <div>
            <b>Phone Number :</b> {{patientdetail.phonenumber}}
        </div>
        <div>
            <b>Language :</b> {{patientdetail.language}}
        </div>
        <div>
            <b>City :</b> {{patientdetail.city}}
        </div>
    </div>
</div>